*{
    text-align: center;
}

.name, .show, .greeting, .intro, .forest-choice, .cave-choice, .city-choice{
    display: none;
    margin-top: 25%;
}

.inital-choice{
    display: none;
}

.name input{
    padding: 5px;
    width: 50%;
}
