*{
    text-align: center;
}

.name, .show, .greeting, .intro{
    display: none;
    margin-top: 25%;
}

.inital-choice, .current-points, .forest-choice, .cave-choice, .city-choice{
    display: none;
}

.current-points{
    position: fixed;
    top: 10px;
    left: 10px;
}
.name input{
    padding: 5px;
    width: 50%;
}
